<div class="navContainer">
        <nav>
          <ul class="navList">
            <li id="navLogo">
              {{! <img src="" alt="logo"> }}
              <p>Loan Management App</p>
            </li>
            <li id="navMid">
              <a href="#home">Home</a>
              <a href="#">About</a>
              <a href="#services">Services</a>
            </li>

            <li id="navEnd">
              <button class="button">Login</button>
              <button class="button">SignUp</button>
            </li>
          </ul>
        </nav>
</div>