{{!-- service section --}}

      <div class="service" id="services">
        <h1 id="heading_service">Services</h1>
        <div class="Servicecontainer">
            <div class="box">
              {{!-- <h4 id="easy_tranc">Easy Transaction</h4> --}}
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat et atque similique ut eum aperiam eius, id dolorem accusantium quod, enim ducimus explicabo.</p>
            </div>
            <div class="box">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat et atque similique ut eum aperiam eius, id dolorem accusantium quod, enim ducimus explicabo.</p>
            </div>
            <div class="box">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat et atque similique ut eum aperiam eius, id dolorem accusantium quod, enim ducimus explicabo.</p>
            </div>
        </div>
      </div>
